<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="lanCont" th:fragment="pageHeder">
    <div class="lanEl"><a href="/authorization">Authorization</a></div>
    <div class="lanEl"><a href="/registration">Registration</a></div>
    <th:block th:if="${authenticated}">
       <div class="lanEl"><a href="/clients">Clients</a></div>
        <th:block th:if="${authenticated}">
            <div class="lanEl"><a href="/users">Users</a></div>
        </th:block>
    <div class="lanEl"><a href="/error">Error</a></div>
    <div class="lanEl"><a href="/logout">Logout</a></div>
    </th:block>
    <div style="clear: both"></div>
</nav>