<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <th:block th:insert="~{fragments/headSettings::headSettings}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/pageHeder::pageHeder}"></th:block>
<div class="formDiv">
    <form th:action="authorizationForm" method="post">
       <input type="text" name="username" placeholder="Username">
       <input type="password" name="password" placeholder="Password">
       <input type="submit" value="Login" style="width: 100px">
    </form>
</div>
</body>
</html>