<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<div id="clientsTable">
    <table>
        <tr>
            <th>ID</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Patronymic</th>
            <th>Gender</th>
            <th>Email</th>
        </tr>
        {{#clients}}
            <tr>{{id}}</tr>
            <tr>{{surname}}</tr>
            <tr>{{name}}</tr>
            <tr>{{patronymic}}</tr>
            <tr>{{gender}}</tr>
            <tr>{{email}}</tr>
            </tr>
        {{/clients}}
    </table>
</div>
</body>
</html>