<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<div id="clientsTable">
    <table>
        <tr>
            <th>ID</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Patronymic</th>
            <th>Gender</th>
            <th>Email</th>
        </tr>
        {{#clients}}
            <td>{{id}}</td>
            <td>{{surname}}</td>
            <td>{{name}}</td>
            <td>{{patronymic}}</td>
            <td>{{gender}}</td>
            <td>{{email}}</td>
            <td>
                <form action="thisClientForm" method="post">
                    <input type="hidden" name="id" value="{{id}}">
                    <input type="submit" value="&#8942;">
                </form>
            </td>
            </tr>
        {{/clients}}
    </table>
</div>
</body>
</html>