<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<div id="addClients">
    <form action="clientAddForm" method="post">
        <input type="text" name="id" placeholder="Id">
        <input type="text" name="surname" placeholder="Surname">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="patronymic" placeholder="Patronymic">
        <input type="text" name="email" placeholder="Email">
        <select name="gender" id="gender">
            <option value="NONE">NONE</option>
            <option value="MALE">MALE</option>
            <option value="FEMALE">FEMALE</option>
        </select>
    </form>
</div>
<div id="clientsTable">
    <table>
        <tr>
            <th>ID</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Patronymic</th>
            <th>Gender</th>
            <th>Email</th>
        </tr>
        {{#clients}}
            <tr>
               <td>{{id}}</td>
               <td>{{surname}}</td>
               <td>{{name}}</td>
               <td>{{patronymic}}</td>
               <td>{{gender}}</td>
               <td>{{email}}</td>
            </tr>
        {{/clients}}
    </table>
</div>
</body>
</html>