<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Update</title>
</head>
<body>
<div class="clientForm">
    {{#client}}
        <form action="clientUpdateForm" method="post">
            <input type="hidden" name="id" value="{{id}}">
            <input type="text"> name="surname" placeholder="Surname" value="{{surname}}">
            <input type="text"> name="name" placeholder="Name" value="{{name}}">
            <input type="text"> name="patronymic" placeholder="Patronymic" value="{{patronymic}}">
            <input type="email"> name="email" placeholder="Email" value="{{email}}">
            <select name="gender" in="gender">
                <option value="NONE" {{NONE}}>NONE</option>
                <option value="MALE" {{MALE}}>MALE</option>
                <option value="FEMALE" {{FEMALE}}>FEMALE</option>,
            </select>
         <input type="submit" value="SAVE" id="submitButton">
        </form>
    {{/client}}
</div>
</body>
</html>