<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Update</title>
</head>
<body>
<div  class="clientForm">
  <form th:action="@{/updateClientAddressForm}"  method="post">
    <div>
      <input type="text" name="id" readonly th:value="${client.id}">
      <input type="text" name="surname" placeholder="Surname" th:value="${client.surname}">
      <input type="text" name="name" placeholder="Name" th:value="${client.name}">
      <input type="text" name="patronymic" placeholder="Patronymic" th:value="${client.patronymic}">
      <select name="gender" id="gender">
        <option th:each="gender:${genders}" th:value="${gender}" th:utext="${gender}"
                th:selected="${gender==client.gender}"></option>
      </select>
      <input type="email" name="email" placeholder="Email" th:value="${client.email}">
    </div>
    <div th:object="${client.address}">
      <input type="text" name="idAddress" placeholder="Id" th:value="*{id}">
      <input type="text" name="region" placeholder="Region" th:value="*{region}">
      <input type="text" name="district" placeholder="District" th:value="*{district}">
      <input type="text" name="city" placeholder="City" th:value="*{city}">
      <input type="text" name="street" placeholder="Street" th:value="*{street}">
      <input type="text" name="house" placeholder="House" th:value="*{house}">
      <input type="text" name="apartment" placeholder="Apartment" th:value="*{apartment}">
    </div>
    <div class="phones">
      <table>
        <tr>
          <th>Phone</th>
        </tr>
        <tr th:each="phone:${client.phones}">
           <input type="text" name="phone" th:value="*{phone.getPhone()}">
        </tr>
      </table>
    </div>
    <input type="submit" value="SAVE">
  </form>
</div>
</body>
</html>