<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Update</title>
</head>
<body>
<div class="userForm">
    {{#user}}
    <form action="userUpdateForm" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <input type="text" name="username" placeholder="Username" value="{{username}}">
        <input type="text" name="password" placeholder="Password" value="{{password}}">
    {{/user}}
        <select name="role" id="role">
        {{#roles}}
            <option value="{{key}}" {{value}}>{{key}}</option>
        {{/roles}}
        </select>
        <select name="status" id="status">
        {{#status}}
            <option value="{{key}}" {{value}}>{{key}}</option>
        {{/status}}
        </select>
        <input type="submit" value="SAVE" id="submitButton">
    </form>
</div>
</body>
</html>