<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Update</title>
</head>
<body>
<div class="userForm">
  <form th:action="@{/updateUserForm}" method="post">
    <input type="text" name="id" readonly>
    <input type="text" name="username" placeholder="Username" th:value="${user.username}">
    <input type="text" name="password" placeholder="Password" th:value="${user.password}">
    <select name="role" id="role">
      <option th:each="role:${role}" th:value="${role}" th:utext="${role}" th:selected="${role==user.role}"></option>
    </select>
    <select name="status" id="status">
      <option th:each="status:${status}" th:value="${status}" th:utext="${status}" th:selected="${status==user.status}"></option>
    </select>
    <input type="submit" value="SAVE">
  </form>
</div>
</body>
</html>