<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <th:block th:insert="~{fragments/headSettings::headSettings}"></th:block>
    <script src="/mustache.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/usersAddJquery.js"></script>
</head>
<body>
<th:block th:insert="~{fragments/pageHeder::pageHeder}"></th:block>
<div class="userForm">
    <form th:action="@{/AddUserForm}" method="post" id="AddUserForm">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <select name="role" id="role">
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
        </select>
        <select name="status" id="status">
            <option value="CREATED">CREATED</option>
            <option value="ACTIVE">ACTIVE</option>
            <option value="BLOCKED">BLOCKED</option>
        </select>
        <input type="submit" id="submitAddUserForm" value="SAVE">
    </form>
</div>
<div class="table" id="tableOutput">
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
            <th>Status</th>
        </tr>
            <tr th:each="user:${users}">
                <td th:utext="${user.id}"></td>
                <td th:utext="${user.username}"></td>
                <td th:utext="${user.password}"></td>
                <td th:utext="${user.role}"></td>
                <td th:utext="${user.status}"></td>
                <td>
                    <form th:action="@{/openUserForm}" method="post">
                        <input type="hidden" name="id" th:value="${user.id}">
                        <input type="submit" value="&#8942;">
                    </form>
                </td>
            </tr>
    </table>
</div>
</body>
</html>